<footer>
    <div class="bg-info text-white">
        <div class="container">
            <div class="footer-content section-padding">
                <div class="row py-2">
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                        <h5>About Us</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, </p>
                    </div>
                   
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                        <div class="mb-5">
                            <h5 class="footer-heading mb-3">Subscribe</h5>
                            <form>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control  " placeholder="Enter Email">
                                    <div class="input-group-append ">
                                        <button class="btn bg-light text-dark shadow-lg" type="button">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                        <h5>Company</h5>
                        <ul class="list-inline">
                            <li><a class="text-white" routerLink='/about'>About</a>
                            </li>
                            <li><a class="text-white" routerLink='/service'>Service</a>
                            </li>
                            <li><a class="text-white" routerLink='/blog'>Blog</a></li>
                            <li><a class="text-white" routerLink='/contact'>Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-info text-white shadow-lg">
        <div class="container">
            <div class="footer-copyright">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copywrite-content d-flex align-items-center justify-content-between mt-3">
                            <div class="copywrite-text">
                                <p>
                                    Copyright ©2020 | This is angular template
                                </p>
                            </div>
                            <div class="footer-term">
                                <p>Privacy & Terms</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>